!!!
%html
  %head
    %title BradSample
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = nav_bar "Brad Example" do
      = nav_list do
        = nav_link_to :users, :users
        = nav_link_to :groups, :groups

    .container
      = yield
