!!!
%html
  %head
    %title Brad Demos
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .container
      = nav_bar do |n|
        = link_to 'Brad Demos', '#', :class => 'brand'
        = n.list do
          = n.link_to 'Buttons', demo_path(:buttons)
          = n.divider
          = n.dropdown 'Example' do
            = n.link_to 'Option 1', '#'
            = n.divider
            = n.header "Some Header"
            = n.link_to 'Option 2', '#'

      = yield
