%section
  %h1 Buttons

  .well
    = btn_to "Default", :demos
    = btn_to "Primary", :demos, :type => :primary
    = btn_to "Info", :demos, :type => :info
    = btn_to "Success", :demos, :type => :success
    = btn_to "Warning", :demos, :type => :warning
    = btn_to "Danger", :demos, :type => :danger
    = btn_to "Inverse", :demos, :type => :inverse

  .well
    = btn_to "Large", :demos, :size => :large
    = btn_to "Small", :demos, :size => :small
    = btn_to "Mini", :demos, :size => :mini

  .well
    = btn_to "Disabled", :demos, :disabled => true

%section
  %h1 Toolbar

  .well
    = btn_toolbar do
      = btn_group do
        = btn_to "A", :demos
        = btn_to "B", :demos, :type => :primary
      = btn_group do
        = btn_to "C", :demos, :type => :info
        = btn_to "D", :demos, :type => :success
        = btn_to "E", :demos, :type => :warning
        = btn_to "F", :demos, :type => :danger
        = btn_to "G", :demos, :type => :inverse
      = btn_group do
        = icon_btn_to :refresh, :demos, :type => :inverse
        = icon_btn_to :play, :demos
        = icon_btn_to :pause, :demos, :active => true

%section
  %h1 Dropdown

  .well
    = btn_toolbar do
      = btn_dropdown "Action" do
        %li
          = link_to "Option 1", "#"
        %li
          = link_to "Option 2", "#"
        %li
          = link_to "Option 3", "#"

      = btn_splitdown "Action", :demos do
        %li
          = link_to "Option 1", "#"
        %li
          = link_to "Option 2", "#"
        %li.divider
        %li
          = link_to "Option 3", "#"
