%section
  %h1 Buttons

  .well
    = btn_to "Default", :demos
    = btn_to "Primary", :demos, :type => :primary
    = btn_to "Info", :demos, :type => :info
    = btn_to "Success", :demos, :type => :success
    = btn_to "Warning", :demos, :type => :warning
    = btn_to "Danger", :demos, :type => :danger
    = btn_to "Inverse", :demos, :type => :inverse

%section
  %h1 Toolbar

  .well
    = btn_toolbar do
      = btn_group do
        = btn_to "A", :demos
        = btn_to "B", :demos, :type => :primary
      = btn_group do
        = btn_to "C", :demos, :type => :info
        = btn_to "D", :demos, :type => :success
        = btn_to "E", :demos, :type => :warning
        = btn_to "F", :demos, :type => :danger
        = btn_to "G", :demos, :type => :inverse
      = btn_group do
        = btn_to :demos, :type => :inverse do
          = icon :refresh, :class => 'icon-white'
        = btn_to :demos do
          = icon :play
        = btn_to :demos, :type => :info do
          = icon :edit

%section
  %h1 Dropdown

  .well
    = btn_toolbar do
      = btn_dropdown "Action" do
        %li
          = link_to "Option 1", "#"
        %li
          = link_to "Option 2", "#"
        %li
          = link_to "Option 3", "#"

      = btn_splitdown "Action", :demos do
        %li
          = link_to "Option 1", "#"
        %li
          = link_to "Option 2", "#"
        %li.divider
        %li
          = link_to "Option 3", "#"
